.guest-layout {
    background-color: #f8f9fa;
}
.guest-layout .app-name-admin {
    color: #343a40;
}

.master-layout .top-nav {
    background-color: #f8f9fa;
}
.top-nav .btn-link,
.navbar-brand {
    color: rgba(0,0,0,.9);
}
.top-nav .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.sidebar {
    background: #e9ecef;
}
.sidebar .nav-item .nav-link {
    color: hsla(0, 0%, 0%, 0.5);
}
.sidebar .nav-item .nav-link:active,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link:hover {
    color: hsla(0, 34%, 17%, 0.53);
}

.footer.sticky-footer {
    background: #f8f9fa;
}
