
/node_modules
/vendor

/public/hot
/public/storage
/public/.htaccess*

/bootstrap/cache/*
/database/*.sqlite
/storage/app/*
!/storage/app/public
/storage/app/public/*
/storage/data/*
/storage/framework/cache
!/storage/framework/cache/data
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/*.key

/.idea
/.vscode
/.vagrant
*.sublime-project
*.sublime-workspace
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
phpunit.xml
