.guest-layout {
    background-color: #343a40;
}
.guest-layout .app-name-admin {
    color: #f8f9fa;
}
.master-layout .top-nav {
    background-color: #343a40;
}
.top-nav .btn-link,
.navbar-brand {
    color: #fff;
}
.top-nav .navbar-nav .nav-link {
    color: hsla(0,0%,100%,.5);
}